# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# PyCharm
.idea/

# Docker
docker-compose.override.yml
docker-compose.local.yml
Dockerfile.dev# Environment variables

.env

# OS-specific files
.DS_Store
Thumbs.db